<a href="https://colab.research.google.com/github/Rok-sana/ML-course/blob/main/hw_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('/content/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [ ]:
print(data['sex'].value_counts()['Male'])
print(data['sex'].value_counts()['Female'])

21790
10771

**2. Каков средний возраст (признак *age*) женщин?**

In [ ]:
round(data.loc[data['sex'] == 'Female', 'age'].mean())

37

**3. Какова доля граждан Германии (признак *native-country*)?**

In [ ]:
from numpy.ma.core import greater
germany_citizen = data['native-country'].value_counts()["Germany"]


print(round(germany_citizen/data['native-country'].count(),5))

0.00421

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [ ]:
data.groupby(['salary']).agg([np.mean, np.std])

              age                   fnlwgt                education-num  \
             mean        std          mean            std          mean
salary
<=50K   36.783738  14.020088  190340.86517  106482.271195      9.595065
>50K    44.249841  10.519028  188005.00000  102541.775472     11.611657

                 capital-gain               capital-loss              \
             std         mean           std         mean         std
salary
<=50K   2.436147   148.752468    963.139307    53.142921  310.755769
>50K    2.385129  4006.142456  14570.378951   195.001530  595.487574

       hours-per-week
                 mean        std
salary
<=50K       38.840210  12.318995
>50K        45.473026  11.012971

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [ ]:
have_hight_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters','Doctorate']
df=data
higher_salary_without_education= df.loc[~df['education'].isin(have_hight_education),['education','salary']].loc[df['salary']=='>50K','education'].count()
higher_salary_without_education

#not true

3306

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [ ]:
print(df.groupby(['race','age'])['age'].describe())

print(df.loc[(df['race'] == 'Amer-Indian-Eskimo')]["age"].agg([np.max]))

                        count  mean  std   min   25%   50%   75%   max
race               age
Amer-Indian-Eskimo 17     3.0  17.0  0.0  17.0  17.0  17.0  17.0  17.0
                   18     4.0  18.0  0.0  18.0  18.0  18.0  18.0  18.0
                   19     6.0  19.0  0.0  19.0  19.0  19.0  19.0  19.0
                   20     3.0  20.0  0.0  20.0  20.0  20.0  20.0  20.0
                   21     6.0  21.0  0.0  21.0  21.0  21.0  21.0  21.0
...                       ...   ...  ...   ...   ...   ...   ...   ...
White              85     3.0  85.0  0.0  85.0  85.0  85.0  85.0  85.0
                   86     1.0  86.0  NaN  86.0  86.0  86.0  86.0  86.0
                   87     1.0  87.0  NaN  87.0  87.0  87.0  87.0  87.0
                   88     3.0  88.0  0.0  88.0  88.0  88.0  88.0  88.0
                   90    34.0  90.0  0.0  90.0  90.0  90.0  90.0  90.0

[297 rows x 8 columns]
amax    82
Name: age, dtype: int64

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [ ]:
married_rich = df.loc[df['marital-status'].str.startswith('Married')].loc[df['salary'] == '>50K', 'marital-status'].count()

bachelors_rich = df.loc[~df['marital-status'].str.startswith('Married')].loc[df['salary']=='>50K', 'marital-status'].count()
common_rich = married_rich + bachelors_rich
print(married_rich/ common_rich)
print(bachelors_rich/ common_rich)

0.859074097691621
0.14092590230837904

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [ ]:
max_work_hours = df['hours-per-week'].max()
max_workers = df.loc[df['hours-per-week']==max_work_hours, 'age'].count()
rich_max_workers = df.loc[(df['hours-per-week']==max_work_hours) & (df['salary']=='>50K'),'age'].count()
print(max_work_hours)
print(max_workers)
print((rich_max_workers/max_workers)*100)

99
85
29.411764705882355

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [ ]:
data.groupby(['native-country','salary'])['hours-per-week'].agg([np.mean])

                            mean
native-country salary
?              <=50K   40.164760
               >50K    45.547945
Cambodia       <=50K   41.416667
               >50K    40.000000
Canada         <=50K   37.914634
...                          ...
United-States  >50K    45.505369
Vietnam        <=50K   37.193548
               >50K    39.200000
Yugoslavia     <=50K   41.600000
               >50K    49.500000

[82 rows x 1 columns]